@use "../node_modules/bootstrap/scss/bootstrap" as * with($enable-shadows: true);
@use "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@use "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@use "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@use "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");
@import url("/webfonts/BrittanySignature.css");
@import "./nprogress.css";

.navbar {
  background-color: rgb(234, 219, 206) !important;
}

.navbar-brand {
  font-family: "Cabin Sketch", cursive;
  font-weight: 400;
  text-decoration: none;
  padding: 0;
}
.navbar-brand-office {
  font-family: "BrittanySignature";
  font-size: 22pt;
}
// .bg-mainnav {
//     background-color: theme-color-level("primary", 8);
// }

@media only screen and (min-width: 768px) {
  .mission-statement {
    column-count: 2;
    column-gap: 2rem;
    column-rule: 1px solid lightgrey;
  }
  .mh-vh-75 {
    max-height: 75vh;
  }
}

.mw-10 {
  min-height: 10rem !important;
}
