@use "../node_modules/bootstrap/scss/bootstrap" as * with($enable-shadows: true);
@use "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@use "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@use "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@use "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");
@import url("/webfonts/BrittanySignature.css");
@import "./nprogress.css";

.navbar {
  background-color: rgb(234, 219, 206) !important;
}

.navbar-brand {
  font-family: "Cabin Sketch", cursive;
  font-weight: 400;
  text-decoration: none;
  padding: 0;
}
.navbar-brand-office {
  font-family: "BrittanySignature";
  font-size: 22pt;
}
// .bg-mainnav {
//     background-color: theme-color-level("primary", 8);
// }
.custom-map-control-button {
  background-color: rgb(247, 212, 17);
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 5px;
  padding: 0.2em 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: auto;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mission-statement {
    column-count: 2;
    column-gap: 2rem;
    column-rule: 1px solid lightgrey;
  }
  .mh-vh-75 {
    max-height: 75vh;
  }
}

.mw-10 {
  min-height: 10rem !important;
}
