@use "../node_modules/bootstrap/scss/bootstrap" as * with(
    $enable-shadows: true
);
// @import "../node_modules/bootstrap-icons/font/bootstrap-icons";

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

.navbar-brand {
    font-family: "Cabin Sketch", cursive;
    font-weight: 400;
    text-decoration: none;
}
// .bg-mainnav {
//     background-color: theme-color-level("primary", 8);
// }

